@import 'color.css';
@import 'sysinfo.css';

.test {
    color: var(--header-color);
}
.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }